<div class="container mx-auto px-8 md:px-20 pt-12 pb-24">
  <div class="grid gap-8 sm:grid-cols-2">
    <div>
      <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
        Health, Safety and Environment Statement,
        <span class="text-orange-700">
          Trig Energy limited is committed to:
        </span>
      </p>
      <div class="text-xs md:text-sm mb-6 text-balance">
        A policy that enables all work activities to be carried out safely, with
        all feasible measures taken to eliminate (or at least reduce) risks to
        the health, safety, and welfare of workers and anyone else whose health,
        safety, or welfare may be affected by our operations.
        <br />
        <br />
        Assuring maximum compliance with applicable Health and Safety
        legislation, Codes of Practice, and Standards. Ensure that all employees
        have the necessary skills and training to perform their duties; Provide
        and maintain a safe work environment and procedures to prevent accidents
        and cases of work-related illness; Maintain safe and healthy working
        conditions, and review and revise this policy as needed and on a regular
        basis
      </div>
      <!-- <ol class="list-item list-inside">
        <li>
          <span class="text-orange-700 font-semibold">01/&nbsp;&nbsp;</span
          >Quality Products
        </li>
        <li>
          <span class="text-orange-700 font-semibold">02/&nbsp;&nbsp;</span>Team
          Strengths
        </li>
        <li>
          <span class="text-orange-700 font-semibold">03/&nbsp;&nbsp;</span
          >Quality Customer Support
        </li>
      </ol> -->
    </div>
    <div class="relative">
      <img
        src="../../../assets/images/yellow engineer cap.png"
        class=""
        alt=""
      />
      <!-- <div
        class="absolute rounded-lg p-4 bg-orange-700 text-white left-0 -bottom-0 sm:-left-8 sm:bottom-12"
      >
        <img src="../../../assets/Solar Charging.svg" alt="" />
        <small class="whitespace-nowrap font-semibold"
          >7+ years of experience</small
        >
      </div> -->
    </div>
  </div>
</div>
<div class="bg-orange-700">
  <div class="container px-8 md:px-20 py-16 mx-auto">
    <p class="font-bold text-2xl mb-6 text-pretty text-white uppercase">
      Environment, Health, Safety and Quality Objectives
    </p>
    <div class="sm:flex gap-6">
      <div
        class="flex gap-4 sm:gap-6 justify-between rounded-md mb-6 sm:basis-1/2 py-4 px-3 sm:px-5 md:px-8 text-center bg-slate-50 bg-opacity-25 text-white"
      >
        <div class="basis-8 shrink-0 me-2 sm:me-8">
          <img
            alt=""
            class="w-8 sm:min-w-fit"
            src="../../../assets/Iconly/Icon.svg"
          />
        </div>
        <div>
          <span class="font-semibold">Our Vision</span>
          <ul class="text-xs list-disc text-left md:text-base">
            <li>
              Trig Energy aims to store and deliver products and services which
              would guarantee customers satisfaction. To accomplish this we plan
              to.
            </li>
            <li>
              Ensure on-time quality service and product delivery to her
              customers.
            </li>
            <li>
              To engage our customers to understand their requirements and
              render our services to meet and exceed their expectations.
            </li>
            <li>
              To ensure as an organization the stated code of conducts and
              regulations requirements are adhered to strictly.
            </li>
          </ul>
        </div>
      </div>
      <div
        class="flex gap-4 sm:gap-6 justify-between rounded-md sm:mb-6 sm:basis-1/2 py-4 px-3 sm:px-5 md:px-8 text-center text-slate-950 bg-slate-50"
      >
        <div class="basis-8 shrink-0 me-2 sm:me-8">
          <img
            class="w-8 sm:min-w-fit"
            src="../../../assets/Iconly/Icon-1.svg"
            alt=""
          />
        </div>
        <div>
          <span class="font-semibold">Our Mission</span>
          <ul class="text-xs list-disc text-left md:text-base">
            <li>
              To be proactive in putting in place preventive and recovery
              barriers in place for risk of fire and product spillage in our
              facility and the distribution network.
            </li>
            <li>
              To ensure that this objective and retained and implemented at
              every level in the organization.
            </li>
            <li>
              To ensure the products and services rendered are carried out in a
              safe manner that ensures minimal impact on the environment and to
              ensure the safety of all stakeholders.
            </li>
            <li>
              The head of EHS would review and monitor the implementation of
              this policy from time to time and may amend the same as required
              to ensure compliance and effectiveness.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-8 md:px-20 pt-12 pb-24">
  <div class="sm:flex gap-8">
    <div class="sm:basis-1/3 shrink-0 flex flex-col justify-center">
      <img src="../../../assets/images/safetyFirst.svg" 
        class="w-8 sm:w-12 md:w-16 mb-3"
      alt="" />
      <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
        Safety First! <br />
        <span class="text-orange-700">
          Trig Energy limited is committed to:
        </span>
      </p>
    </div>
    <div class="grid sm:grid-cols-2 gap-6">
      <div>
        <h5 class="font-semibold">Safety Policy</h5>
        <p class="text-xs sm:text-base">
          A policy that allows all work activities to be carried out safely, and
          with all possible measures taken to eliminate (or at least reduce)
          risks to health, safety, and welfare of workers, contractors,
          authorized visitors, and anyone else who may be affected by our
          operations
        </p>
      </div>
      <div>
        <h5 class="font-semibold">Innovation</h5>
        <p class="text-xs sm:text-base">
          To seek new technology and method, ensuring that we continually
          improve on our operations, health and safety deliverables.
        </p>
      </div>
      <div>
        <h5 class="font-semibold">Compliance</h5>
        <p class="text-xs sm:text-base">
          Ensuring maximum compliance with applicable safety and health
          regulations, codes of practices and standards.
        </p>
      </div>
      <div>
        <h5 class="font-semibold">Training</h5>
        <p class="text-xs sm:text-base">
          Ensure that all employees have the necessary skills and training to
          perform there duties
        </p>
      </div>
      <div>
        <h5 class="font-semibold">Prevention</h5>
        <p class="text-xs sm:text-base">
          Provide and maintain a safe work environment and procedures to prevent
          accidents and cases of work-related ill health
        </p>
      </div>
      <div>
        <h5 class="font-semibold">Avoiding Oversight</h5>
        <p class="text-xs sm:text-base">
          The head of EHS would review and monitor the implementation of this
          policy from time to time and may amend same as required to ensure
          compliance and effectiveness.
        </p>
      </div>
    </div>
  </div>
</div>

