<div class="container mx-auto px-8 md:px-20 pt-12 pb-24">
    <div class="grid gap-16">
      <div class="grid gap-8 sm:grid-cols-2">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Trust</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            By consistently delivering on our promises, to our clients, partners
            and stakeholders, we are striving to build a customer-centric
            organization where we would be able to meet and exceed our customers’
            expectations.
          </div>
        </div>
        <div>
          <img src="../../../assets/images/trust.png" class="" alt="" />
        </div>
      </div>
      <div class="grid gap-8 sm:grid-cols-2">
        <div>
          <img src="../../../assets/images/reliability.png" class="" alt="" />
        </div>
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Reliability</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            At Trig Energy are reliable, we have been able to deliver on our
            mandate, and our business partners, clients, and customers can count
            on us as an organization. we believe that relationships are built on
            accountability and Mutual respect. This is essential to our long-term
            success.
          </div>
        </div>
      </div>
      <!-- End -->
      <div class="grid gap-8 sm:grid-cols-2">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Safety</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            At Trig Energy value the well-being of our staff and contractors. as
            stated in our policy we are reemphasizing that our operations as an
            organization would be conducted in line with lead-down safety
            standards and procedures as this would ensure that our clients,
            customers, teammates, and the environment are safe
          </div>
        </div>
        <div>
          <img src="../../../assets/images/safety.png" class="" alt="" />
        </div>
      </div>
      <div class="grid gap-8 sm:grid-cols-2">
        <div>
          <img src="../../../assets/images/teamwork.png" class="" alt="" />
        </div>
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Teamwork</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            At Trig Energy are reliable, we have been able to deliver on our
            mandate, and our business partners, clients, and customers can count
            on us as an organization. we believe that relationships are built on
            accountability and Mutual respect. This is essential to our long-term
            success.
          </div>
        </div>
      </div>
      <!-- End -->
      <div class="grid gap-8 sm:grid-cols-2">
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Integrity</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            As an organization, we are committed and striving to do the right
            thing. We value honesty, transparency, accountability, and a
            commitment to doing what’s best for our clients, customers, teammates,
            and company.
          </div>
        </div>
        <div>
          <img src="../../../assets/images/integrity.png" class="" alt="" />
        </div>
      </div>
      <div class="grid gap-8 sm:grid-cols-2">
        <div>
          <img src="../../../assets/images/quality.png" class="" alt="" />
        </div>
        <div class="flex flex-col justify-center">
          <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
            <span class="text-orange-700">Quality</span>
          </p>
          <div class="text-base sm:text-sm mb-6 text-balance">
            At Trig Energy are reliable, we have been able to deliver on our
            mandate, and our business partners, clients, and customers can count
            on us as an organization. we believe that relationships are built on
            accountability and Mutual respect. This is essential to our long-term
            success.
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>