<div class="h-80 bg-slate flex flex-col justify-center items-gap-3">
    <p class="text-orange-700 text-base font-bold">Subscribe</p>
    <h1 class="text-black text-2xl md:text-3xl font-medium text-center">To get new information</h1>
    <small class="text-gray-400 text-xs font-medium">We will send updates</small>
    <div class="rounded-md bg-white p-2">
        <input type="text" placeholder="Enter Your Email Address" class="outline-none border border-none placeholder:text-xs 
        placeholder:font-medium mb-2">
        <button class="rounded-md bg-orange-700 text-white text-xs h-7 font-medium px-5">Submit</button>
    </div> 
</div>
